.removeButton {
    color: green;
    background: none;
    cursor: pointer;
    border: solid 1px green;
    border-radius: 3px;
    position: absolute;
    margin-left: 3px;
    margin-top: 3px;
    top: 0px;
    left: 0px;
}