.todoItem {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    border: 1px solid gray;
    border-radius: 2px;
    position: relative;
    padding: 0.5%;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.todo {
}